

.container{
    display: flex;   
    justify-content: center;
    align-items: center;

    height: 100vh;
   
    

}

.text{

    
    padding: 1px;
    background-color: gray;
   
}

.botao{
    align-items: center;
    justify-content: center;
    display: flex;
}



h1{
    text-align: center;
}